# Pandas(Panel datas)
표 형태의 데이터
    <br>
    <br>
    <br>
- series data


- DataFrame class 2차원 : 행과 열을 가지는 표와 같은 형태

In [2]:
# series 데이터 생성
import pandas as pd
population = pd.Series([9668465,3391946,2942828,1450062])
population

0    9668465
1    3391946
2    2942828
3    1450062
dtype: int64

In [4]:
# 인덱스에 이름을 지정하면서 생성
population = pd.Series([9668465,3391946,2942828,1450062],index = ['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [6]:
# Series 데이터 확인하기
# Series에 값만 확인하기
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [8]:
# Seires에 인덱스값 확인하기
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [12]:
# Series 데이터 타입 확인하기
# Series의 데이터 타입은 실제 value 값을 기준으로 출력
population.dtype
# print(type(population.values))

dtype('int64')

In [15]:
# Serues  데이터 이름 지정하기
population.name = '인구'
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [18]:
# Series 데이터 인덱스 이름 지정하기
population.index.name = '도시'

# values 값 확인
# index 인덱스 확인
# dtype 데이터 타입 확인 - values 기준
# name : Series의 이름 지정
# index.name : 인덱스의 이름 지정

In [20]:
# Series 데이터 연산
# 100만 나눠주기
# 넘파이 파입의 배열 형태를 가지고 있기에 요소별 연산이 가능
population/1000000

도시
서울    9.668465
부산    3.391946
인천    2.942828
광주    1.450062
Name: 인구, dtype: float64

In [23]:
# indexing slicing
population.values[1]

3391946

In [31]:
# 인덱싱을 활용하여 특정데이터를 가져오기 - 특정 데이터들을 가져오는 경우 리스트 형태로 묶어서 인덱싱
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [34]:
# slicing
population[1:3]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [36]:
# index 이름을 지정한 경우 이름 데이터로도 슬라이싱 가능
population['부산':'인천']

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [46]:
# 불리언 인덱싱
# 조건에 따라서 참인 값만 추출하는 방식
# 250만 이상인 데이터만 추출
# 2개 이상의 조건을 and 나 or 을 하는 경우 연산자로 대체  & |
# 그리고 순서를 정해서 알려줘야 한다.
population[(population>=2500000) & (population <= 5000000)]
# population[population>=2500000]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [49]:
# dictionary 자료구조를 활용하여 Series 생성
poketmon = pd.Series({'피카츄':1 , '잠만보':2 , '치코리타':3,'리자몽':4})
poketmon

피카츄     1
잠만보     2
치코리타    3
리자몽     4
dtype: int64

In [52]:
# 레벨업한 데이터가 들어가 있는 poketmon_up
poketmon_up = pd.Series({'거북왕':1923 , '피죤': 231,'피카츄':999 , '잠만보':1111 , '치코리타':2222,'리자몽':11115})
# 인덱스 이름이 같은 데이터끼리 연산을 각각 진행
# 인덱스 이름이 같은 것이 없는 경우 NaN(결측치)를 반환
state =poketmon_up - poketmon

In [57]:
# 비어있지 않은 데이터만 확인 -> notnull()
state[state.notnull()]

리자몽     11111.0
잠만보      1109.0
치코리타     2219.0
피카츄       998.0
dtype: float64

In [59]:
# 비어있는 Nan 데이터만 출력 -> .isnull()
state[state.isnull()]

거북왕   NaN
피죤    NaN
dtype: float64

# DataFrame
- 행과 열로 구성되어있는 표와 같은 형태
- Series 데이터들이 모여서 생성된다.

In [61]:
data = {'2020': [9668465,3391946,2942828,1450062],
        '2010': [10312545,3567910,2758296,1454636]}
population = pd.DataFrame(data)
# 키값은 column으로 value는 value로 튜플 형태로
population

      2020      2010
0  9668465  10312545
1  3391946   3567910
2  2942828   2758296
3  1450062   1454636

In [64]:
population.index = ['서울','부산','인천','광주']
population

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636

In [66]:
# data 값 확ㅇ니
population.values

array([[ 9668465, 10312545],
       [ 3391946,  3567910],
       [ 2942828,  2758296],
       [ 1450062,  1454636]], dtype=int64)

In [68]:
# 인덱스 확인
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [70]:
# column 확인
population.columns

Index(['2020', '2010'], dtype='object')

In [ ]:
#